<div class="form-group">
	<%= f.radio_button :status, 'submitted' %>
	<%= f.label :status, 'Submitted', class: "control-label" %>

	<%= f.radio_button :status, 'approved' %>
	<%= f.label :status, 'Approved', class: "control-label" %>

	<%= f.radio_button :status, 'rejected' %>
	<%= f.label :status, 'Rejected', class: "control-label" %>
</div>
	
